In [1]:
WORDS =["Dhoni","Virat", "Rohit Sharma", "Dhawan",
         "Jadhav", "Hardik Pandya", "Bhuvneshwar Kumar", "Kuldeep Yadav", "Yuzvendra Chahal", "Jasprit Bumrah",
         "Mohammed Shami", "Vijay Shankar", "Dinesh Karthik", "KL Rahul", "Ravindra Jadeja", "Shoaib Malik",
         "Mohammad Hafeez", "Sarfaraz Ahmed" , "Wahab Riaz", "Mohammad Amir", "Haris Sohail", "Babar Azam", 
         "Imam-ul-Haq", "Asif Ali", "Imad Wasim","Fakhar Zaman","Eoin Morgan","Jason Roy", "Jonny Bairstow", 
         "James Vince", "Jos Buttler" , "Ben Stokes", "Moeen Ali", "Chris Woakes", "Liam Dawson", "Tom Curran", 
         "Liam Plunkett","Gulbadin Naib" , "Mohammad Shahzad" , "Noor Ali Zadran", "Hazratullah Zazai", "Rahmat Shah",
         "Asghar Afghan", "Hashmatullah Shahidi", "Najibullah Zadran", "Samiullah Shinwari", "Mohammad Nabi",
         "Aaron Finch", "David Warner", "Usman Khawaja", "Steven Smith", "Shaun Marsh", "Marcus Stoinis", 
         "Alex Carey" , "Nathan Coulter-Nile", "Jason Behrendorff", "Kane Richardson", "Mashrafe Mortaza" , 
         "Tamim Iqbal", "Liton Das","Soumya Sarkar", "Mushfiqur Rahim", "Mahmudullah Riyad", "Shakib Al Hasan", 
         "Mohammad Mithun" , "Sabbir Rahman","Kane Williamson", "Tom Blundell" , "Trent Boult", "Colin de Grandhomme",
         "Lockie Ferguson"," Martin Guptill", "Matt Henry", "Tom Latham (wk)", "Colin Munro","Faf du Plessis",
         "Quinton de Kock", "David Miller", "JP Duminy", "Hashim Amla", "Aiden Markram", "Rassie van der Dussen", 
         "Dwaine Pretorius", "Andile Phehlukwayo","Dimuth Karunaratne", "Angelo Mathews", "Thisara Perera", 
         "Kusal Perera","Dhananjaya de Silva", "Kusal Mendis", "Isuru Udana", "Milinda Siriwardana",
         "Avishka Fernando"]

In [2]:
import re

def urlify(s):

    # Remove all non-word characters (everything except numbers and letters)
    s = re.sub(r"[^\w\s]", '', s)

    # Replace all runs of whitespace with a single dash
    s = re.sub(r"\s+", '_', s)

    return s.lower()

In [3]:
word=[urlify(i) for i in WORDS]
WORDS=[i.lower() for i in WORDS]

In [4]:
import mysql.connector as mysql
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "SopraSteria"
)
cursor = db.cursor()

In [5]:
query = "SELECT * FROM twitter"

cursor.execute(query)

records = cursor.fetchall()

## Showing the data
# for record in records:
#     print(record)

In [6]:
vocab=["india","pakistan" ,"sri lanka","england","afganistan","australia","bangladesh","new zealand","south africa","west indies"]
vocab_l=[urlify(i) for i in vocab]

In [8]:
print(vocab)

['india', 'pakistan', 'sri lanka', 'england', 'afganistan', 'australia', 'bangladesh', 'new zealand', 'south africa', 'west indies']

In [7]:
print(WORDS[0])

dhoni

In [9]:
def word_count(str1):
    counts = dict.fromkeys(word)

    for i in range(len(word)):
        
            counts[word[i]]=str1.count(WORDS[i])
        

    return counts

In [10]:
import collections
counts_all = collections.defaultdict(dict)
for j in range(len(vocab)):
    for i in range(len(records)):
        if records[i][5].lower().count(vocab[j]) or (records[i][4] is not None and records[i][4].lower().count(vocab[j])):
            counts_all[vocab_l[j]][i]=word_count(records[i][5].lower())
        
    
counts_all=dict(counts_all)

In [11]:
import pandas as pd
dataframe_collection = {} 
for county in vocab_l:
    dataframe_collection[county] = pd.DataFrame.from_dict(counts_all[county], orient='index',columns=word)

In [12]:
dataframe_collection["afganistan"].head()

,dhoni,virat,rohit_sharma,dhawan,jadhav,hardik_pandya,bhuvneshwar_kumar,kuldeep_yadav,yuzvendra_chahal,jasprit_bumrah,...,andile_phehlukwayo,dimuth_karunaratne,angelo_mathews,thisara_perera,kusal_perera,dhananjaya_de_silva,kusal_mendis,isuru_udana,milinda_siriwardana,avishka_fernando
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
from sqlalchemy import create_engine
database_username = 'root'
database_password = ''
database_ip       = 'localhost'
database_name     = 'SopraSteria'
database_connection = create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))

In [15]:
for county in vocab_l:
    dataframe_collection[county].to_sql(name=county, con=database_connection, if_exists='replace',index_label='id',chunksize=500)